apiVersion: 1

datasources:
  # Prometheus datasource
  - name: Prometheus
    type: prometheus
    uid: prometheus  # 대시보드에서 참조할 고정 uid
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      httpMethod: POST

  # Loki datasource for logs
  - name: Loki
    type: loki
    uid: loki  # 대시보드에서 참조할 고정 uid
    access: proxy
    url: http://loki:3100
    editable: true
    jsonData:
      maxLines: 1000
      derivedFields:
        - datasourceUid: Prometheus
          matcherRegex: "request_id=(\\w+)"
          name: RequestID
          url: "$${__value.raw}"
